.cover
  #leftbar
    padding-top: 14em
    background-color: #f4761d
    background-size: contain
  .row.partners
    img
      display: inline-block
      margin 0 auto
      // margin-left: .3em
      // margin-right: .3em
    .partner
      display inline-block
      margin 0 auto
      text-align: center
      padding .3em
      &:nth-child(1)
        width: 30%
        height auto
        @media(max-width: 480px)
          width: 50%
          height auto
      &:nth-child(2)
        width: 25%
        height auto
        @media(max-width: 480px)
          width: 50%
          height auto
      &:nth-child(3)
        width: 25%
        height auto
        @media(max-width: 480px)
          width: 50%
          height auto
      &:nth-child(4)
        width: 20%
        height auto
        @media(max-width: 480px)
          width: 50%
          height auto
  h1.blue 
    font-family: "Exo 2", sans-serif
    font-size: 3em
    line-height: 1.2em
    font-weight: 700
    padding: 0
    padding-top: 0.5em
    margin: 0
    color: #00ada3
    @media(max-width: 768px)
      font-size: 2.3em
  h1.orange 
    font-family: "Exo 2", sans-serif
    font-size: 3em
    line-height: 1.2em
    font-weight: 700
    padding: 0
    margin: 0
    color: #f4761d
    @media(max-width: 768px)
      font-size: 2.3em
  h3.title
    font-size: 1.2em
    font-family: "Exo 2", sans-serif
    line-height: 1.5em
    font-weight: 400
    padding: 0
    color: #00ada3
    margin-bottom: 1em
    margin-top: 1em
    @media(max-width: 768px)
      font-size: 1em
    &.parteneri
      margin-bottom 0
  p:not(.small-text)
    margin-top: 3em
    margin-bottom: 3em
    @media(max-width: 768px)
      font-size: .9em

  ul
    margin: 0.7em 0
    li
      font-family: "Exo 2", sans-serif
      font-size: 210%
      text-align: left


#leftbar-toggle
  background-color: #00ada3
  border-radius: 50px
  background-size: contain
  i
    font-size: 1em
    top: 1.5em
    left: 1.5em !important
#previous-chapter
  background-color: #00ada3
  border-radius: 50px
  background-size: contain
  i
    font-size: 1em
    top: 1.6em
    left: 1.3em !important
#next-chapter
  background-color: #00ada3
  border-radius: 50px
  background-size: contain
  i
    font-size: 1em
    top: 1.6em
    left: 1.5em !important
#leftbar
  background-color: #00ada3
  top: left
  background-size: contain
  ul a.subtitled .title
    line-height: 1.2em
