+article("")
  +section("Net Children Go Mobile")
    .lf-ch00
      .cover

        h3.title Resurse Educaționale Deschise
        br

        h1.orange  51 de zile

        h2.blue Learn Forward în Marea Britanie

        br

        br

        center
            img(src='img/logo-learnfwd.png', style='width:15%')
        
        p.center Created using 
          a(href='http://learnfwd.com') Learn Forward Author
          | 
          | tool.

