+article('Despre LearnFwd 1')
  +section('Despre LearnFwd 1')
    .cover
      h1.orange Despre LearnFwd (<2015)
      br
      +lightbox('img/lectia-verde.jpg')
      br
      +lightbox('img/smart-classroom.jpg')
      br
      +lightbox('img/romana-h2.png')
