+article('Despre LearnFwd 2')
  +section('Despre LearnFwd 2')
    .cover
      h1.orange LearnFwd în 2015

      br

      .embed-responsive.embed-responsive-4by3
        iframe(src="http://emerge.education")