+article('UK vs. Ro')
  +section('UK vs. Ro')
    .cover
      h1.orange UK vs. Romania. Actorii
      br

      ul
        li Școli
        li Profesori
        li Edituri
      br
        
      //-+img('img/decoration.png')