+article('Școlile')
  +section('Școlile')
    .cover
      h1.orange Școlile
      br

      ul
        li Autonomie (Schools vs. Academies)
        li Inovație: Învățare bazată pe întrebări
      br

    h4 Exemplu de curriculum

      .embed-responsive.embed-responsive-4by3
        iframe(src="http://www.kensingtonaldridgeacademy.co.uk/teaching-learning-at-kaa/curriculum/")
