+article('Profesorii')
  +section('Profesorii')
    .cover
      h1.orange Profesorii
      br

      ul
        li Nu folosesc manualele
        li Predau digital
        li Personalizează conținutul
        li Preferă conținutul creat de alți profesori
      br

    h4 Rețeaua TES
      .embed-responsive.embed-responsive-4by3
        iframe(src="https://www.tes.co.uk/teaching-resources/")