+article('Editurile')
  +section('Editurile')
    .cover
      h1.orange Editurile
      br

      ul
        li >60% digital (Pearson)
        li Conștientizează schimbarea
        li Schimbă modelul de business
      br
