+article('Model de business')
  +section('Model de business')
    .cover
      h1.orange Model de business
      br

      ul
        li Integrare cu RED / OER
        li Conținut premium între OER
        li Atomizare conținut
        li Oferirea de servicii, nu de produse finite
      br