+article('Thank you')
  +section('Thank you')
    h1.center Thank you!

    p.center
      strong Thank you for trying the textbook.

    p.center This is the end of this fragment.

    p.center For more information please e-mail
      br
      a(href='mailto:hello@learnfwd.com') Learn Forward
      | 
      | or call 
      a(href='tel:+447774199949') +44 777 419 9949
      | .

    p
      strong Don't forget to follow 
        a(href='http://twitter.com/learnfwd')@learnfwd
        | 
        | on Twitter

    center
      img(src='img/logo-learnfwd.png', style='width:30%')
